<div id="app">
  <div>
    {{ message }}
  </div>
  <input v-model="message">

  <h2>Reviews</h2>
  <ul>
    <li v-for="review in reviews">{{ review }}</li>
  </ul>

  <h4>Add a Review</h4>
  <input v-model="newReview">
  <button v-on:click="addReview()">Add Review</button>
</div>










